<div>
    <h1>Websocket Chat</h1>
    <div>
        <form id="form-message">
            <input id="input-message" type="text" required placeholder="Escribe tu mensaje">
            <input type="submit" value="Enviar">
        </form>
</div>

<div id="log-messages">

</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{{!-- La siguiente ruta no la definimos nosotros sino que la define socket.io --}}
<script src="/socket.io/socket.io.js"></script>
{{!-- La siguiente linea tiene que ir si o si debajo de la linea de socket de arriba! --}}
<script src="/js/index.js"></script>